body {
  margin: 0px;
}

section {
  min-width: 980px;
}

img {
  border: none;
  padding: none;
  margin: none;
}

#container {
  width: 980px;
  margin: 0 auto;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
}

.clear {
  clear: both;
}

.fleft {
  float: left;
}

.margin-fix {
  margin: 10px 0 0 22px;
}

.commented {
  display: none;
}

  

