@import "compass/css3/pie";
@import "compass/css3";

// Styles for main window banner
#main_banner {
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  height: 34px;
  width: 980px;
  margin: 0 auto;
  background-color: #f5f5f5;
  p {
    margin: 0px 10px;
    padding: 5px 0 0 0;
  }
  #logged_user {
    margin: 7px 25px 0 0;
    float: right;
  }
  #sort_by {
    ul {
      margin-top: 7px;
      li {
        float: left;
        margin-left: 20px;
        a {
          border: solid 1px transparent;
          color: black;
          text-decoration: none;
          padding: 2px 5px;
          &.current {
            @include pie;
            @include border-radius(3px);
            @include background(linear-gradient(#e7f3fb, #c0dff5));
            border: solid 1px #a6cbe3;
            @include border-radius(4px);
            color: #2e2676;
          }
          &:hover {
            @include background(linear-gradient(#c0dff5, #e7f3fb));
            border: solid 1px #a6cbe3;
            @include border-radius(4px);
            color: #2e2676;
          }
          
        }
      }
    }
    float: left;
  }
}
#news_feed_count {
  float: left;
  margin: 0;
  margin-left: 50px;
  
}

// Styles for main window
#main_window {
  width: 670px;
  float: left;
}

// Styles for sidebar 
#side_bar {
  border-left: solid 1px #b6b6b6;
  border-bottom: solid 1px #b6b6b6;
  width: 270px;
  float: left;
  right: 0px;
  background-color: #f5f5f5;
  padding: 0 18px 20px 18px;
  
  .sidebar_container {
    background: white;
    @include border-radius(5px);
    border: solid 1px #b9b9b9;
    margin-bottom: 20px;
    .sidebar_header {
      background: #eff2ff;
      border-bottom: solid 1px #b9b9b9;
      @include pie;
      @include border-radius(5px 5px 0 0);
      color: #767676;
      text-align: center;
      font-size: 18px;
      padding: 5px;
    }
    .sidebar_contents {
      margin: 10px;
    }
  }
}

.icon_header {
  margin: 15px 0 15px 10px;
  .number {
  background: image-url("rounded_numbering.png") no-repeat 0;
  width:24px;
  height:24px;
  text-align: center;
  padding-top: 4px;
  color: #6556d4;
  float: left;
  }
  input[type="text"] {
    width: 185px;
    &#news_feed_object_name {
      margin: 10px 0 0 24px;
    }
  }
  .title {
    padding-left: 30px;
    font-size: 16px;
    padding-top: 3px;
  }
}

.create_button {
    input[type="submit"] {
    left: 114px;
    position: relative;
    @include background(linear-gradient(#e7f3fb, #c0dff5));
    border: solid 1px #a6cbe3;
    @include border-radius(4px);
    color: #2e2676;
    padding: 5px;
    &:hover {
      @include background(linear-gradient(#c0dff5,#e7f3fb));
    }
  } 
}

// Styles for list heading
ul#list_heading {
  margin: 0px;
  background-color: #eff2ff;
  border-top: solid 1px #b6b6b6;
  border-bottom: solid 1px #b6b6b6;
  @include border-radius(0 5px 0 0);

  height: 20px;
  li {
    padding-left: 15px;
    float: left;
    a {
      font-weight: bold;
      color: #4d4d4d;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      
    }
    &#time {
      margin-left: 50px;      
    }
    &#description {
      margin-left: 80px;
    }
  }
}

#search_bar {
  float: right;
  form {
    float: left;
    input#q {
      padding: 1px 5px;
      @include border-radius(2px 0 0 2px);
      border: solid 1px #abadb3;
      border-right: none; 
    }
    
    input#search_icon {
      background: image-url("search_icon.png") no-repeat 0;
      border-top: solid 1px #abadb3;
      border-bottom: solid 1px #abadb3;
      border-right: solid 1px #abadb3;
      border-left: none;
      @include border-radius(0 2px 2px 0);
      position:relative;
      left: -8px;
    }
  }
  #paginate {
      min-height: 20px;
      line-height: 13px;
      padding: 3px 3px;
      font-size: 13px;
      text-transform: uppercase;
      position: relative;
      left: 245px;
      a {
      color: black;
      font-weight: bold;
      float:left;
      padding: 1px 3px;
      font-size:13px;
      margin: 0 2px;
      text-decoration:none;
      }
      a:hover {
        text-decoration: underline;
      }
      .current {
          float:left;
          margin: 0 2px;
          padding: 6px 3px;
          @include pie;
          background-color: #85a6f6;
          border: #85a6f6 1px solid;
          @include border-radius(4px);
          font-style: normal;
          position: relative;
          bottom: 6px;
          color: #fff;
      }
      .disabled {
        display: none;
      }
  
  
      li {
        float:left;
        display: inline;
        margin: 0;
        margin: 0 2px 0 2px;
  
      }
  }
}


.horizontal_grey_line {
  clear: both;
  background: #c2c2c2;
  height: 1px;
  width: 100%;
}

// Styles for the main news feed list
#news_feed_list {
  clear: both;
  ul.by_date {
    li.by_date {
      margin-top: 15px;
      .date_span {
        background: #5e7af2;
        border: solid 1px #84a8d0;
        @include pie;
        @include border-radius(5px 5px 0 0); 
        padding: 4px;
        color: white;
        font-size: 13px;
        margin-left: 55px;
      }
      ul.by_news_feed {
        margin-top: 3px;
        padding: 0px 15px 0 0;
        li.by_news_feed {
          border: solid 1px #d1d1d1;
          padding: 5px;
          &:hover {
            background-color: #fffcd2;
          }
          span.icon {
            width: 50px;
          }
          span.time {
            width: 100px;
            display: inline-block;
            font-weight: bold;
          }
          span.text {
            max-width: 400px;
            line-height: 23px;
            display: inline-block;
            a {
              line-height: 1.4;
              height: 23px;
              max-width: 600px;
              color: black;
              text-decoration: none;
              &:hover {
                text-decoration: underline;  
              }
            }
            .delete {
              display:none;
              float:right;
              background: image-url("icon_delete_2.png") no-repeat 0 3px;
              background-size: 17px 17px;
              input {
                background: none;
                border: none;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}

#news_feed_table {
  width: 640px;
  padding: 15px;
  table#dataTable{
    tbody{
      tr{
        td.action {
          width: 20px;
          text-align: center;
        }
        td.date {
          width: 100px;
          text-align: center;
        }
        td.remove {
          width: 30px;
          text-align: center;
          input[type="submit"] {
            background-color: none;
            height: 25px;
            background: image-url("icon_delete_2.png") no-repeat 0 3px;
            background-size: 17px 17px;
            border: none;
            color: red;
            &:hover {
              cursor: pointer;
            } 
          }
        }
      }
    }
  }
}

form {
  select {
    width: 200px;
  }
  input[type="text"] {
    @include pie;
    @include border-radius(5px);
    padding: 5px;
  }

}
